.inputContainer {
  width: 100%;
  padding: 2%;
}

.label {
  display: block;
  margin-bottom: 6px;
}

.input {
  width: 50%;
  height: 34px;
}

/*customize placeholder color - a11y */
.input::placeholder {
  color: #707070
}

.invalid {
  background-color: red;
}

@media (max-width: 1000px ) {
  .input {
    width: 70%;
  }
}