.button {
  height: 40px;
  width: 120px;
  align-self: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  color: white;
  background-color: #3e6aeb;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  background-color: #707070 ;
}