.form {
  display: flex;
  flex-flow: column;
  margin: 10% auto;
  padding: 2% 2%;
  width: 50%;
  background: white;
  border-radius: 1%;
}

.fieldset {
  display: flex;
  flex-flow: column;
  border: none;
  margin-bottom: 2%;
  margin-left: 5%;
}

.legend {
  margin: 4% auto;
  font-size: 2rem;
}