.form {
  display: flex;
  flex-flow: column;
  margin: 10% auto;
  padding: 2% 2%;
  width: 50%;
  background: white;
  border-radius: 1%;
}

.fieldset {
  display: flex;
  flex-flow: column;
  border: none;
  margin-bottom: 2%;
  margin-left: 5%;
}

.legend {
  margin: 2% auto;
  font-size: 1.5rem;
}

.button {
  height: 40px;
  width: 120px;
  align-self: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  color: white;
  background-color: #3e6aeb;
}

.button:disabled {
  background-color: orange ;
}