.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  padding: 2%;
  left: 15%;
  top: 30%;
  transition: all 0.3s ease-out;
}

.message {
  padding: 5%;
  font-size: 1.5rem;
}

.success {
  border: 3px solid green;
  color: green;
}

.error {
  border: 3px solid red;
  color: red;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.hide {
  transform: translateY(-100vh);
  opacity: 0;
}